@media(max-width: 1024px){
    .top__inner-img{
        margin-left: 0;
    }

    .advantages__inner{
        flex-wrap: wrap;
    }
    .advantages__item{
        width: 50%;
        padding-right: 70px;
    }

    .list__inner{
        display: block;
        padding-bottom: 20px;
    }

    .tabs__content{
        max-width: 500px;
        margin: 0 auto;
    }

    .tabs__content-reviews.tabs__reviews{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .tabs__content::before,
    .tabs__content::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #a4c58c;
        z-index: 1;
    }

    .tabs__content::before{
        right: 100%;
    }

    .tabs__content::after{
        left: 100%;
    }

    .list__link{
        justify-content: center;
    }

    .list__link a{
        min-width: 430px;
        padding: 22px 100px 22px 100px;
    }

    .list__link a:after{
        right: 50px;
    }

    .tabs__reviews-link{
        left: 140px;
    }

    .tabs__reviews::after,
    .tabs__reviews::before{
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 20px;
        bottom: -20px;
        z-index: 2;
    }

    .tabs__reviews::after{
        left: 100%;
    }

    .tabs__reviews::before{
        right: 100%;
    }
}

@media(max-width: 940px){
    .top__inner-form{
        position: absolute;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .top__inner-title,
    .top__inner-subtitle,
    .top__inner-text{
        width: 280px;
        margin-right: 100px;
    }

    .top__inner-title{
        font-size: 50px;
        line-height: 50px;
    }

    .top__inner-subtitle{
        margin-top: 25px;
    }

    .top__inner-text{
        font-size: 16px;
        margin-bottom: 50px;
    }

    .advantages__inner{
        padding-top: 100px;
    }
}

@media(max-width: 768px){
    .header__text{
        font-size: 14px;
    }

    .advantages{
        margin-bottom: 100px;
    }

    .list__title{
        margin: 0 auto 30px;
        padding-top: 0;
        max-width: 370px;
        font-size: 30px;
        line-height: 40px;
    }

    .advantages__inner{
        padding-top: 10px;
        padding-left: 80px;
        padding-right: 50px;
    }

    .advantages__item{
        padding-right: 60px;
        padding-bottom: 60px;
    }
}

@media(max-width: 760px){
    .top__inner-img img{
        width: 200px;
    }

    .advantages__inner{
        padding-top: 180px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .advantages__item{
        padding-right: 30px;
    }
}

@media(max-width: 700px){
    .header__text{
        display: none;
    }
}

@media(max-width: 640px){
    .top__inner-form{
        left: 15px;
    }

    .top__inner-img {
        order: 1;
    }

    .top__inner-img img{
        width: 150px;
    }

    .mobile__link-btn{
        display: block;
        width: 100%;
        padding: 22px 15px;
        text-align: center;
    }

    .top-form{
        display: none;
    }

    .top__inner{
        flex-direction: column;
        align-items: center;
    }

    .top__inner-text{
        display: none;
    }

    .top__inner-form{
        position: static;
        align-items: center;
        text-align: center;
    }

    .top__inner-title,
    .top__inner-subtitle,
    .top__inner-text{
        width: 100%;
        margin-right: 0;
    }

    .advantages__inner{
        padding-top: 10px;
    }
}

@media(max-width: 600px){
    .top__inner-img img{
        width: 85px;
    }

    .advantages__inner{
        padding-top: 120px;
    }

    .advantages__item{
        width: 100%;
    }

    .tabs__box{
        flex-direction: column;
    }

    .tabs__box .tab{
        width: 100%;
    }

    .tabs__box .tab:nth-child(1), .tabs__box .tab:nth-child(3){
        border-right: none;
        padding-right: 0;
    }

    .tabs__box .tab:nth-child(2), .tabs__box .tab:nth-child(4){
        order: 1;
        padding-left: 0;
    }
}

@media(max-width: 550px){
    .tabs__content{
        background-image: none;
        height: 150px;
    }
    .tabs__content::before,
    .tabs__content::after{
        display: none;
    }
    .tabs__box .tab:nth-child(4){
        border-bottom: none;
    }
    .tabs__reviews{
        position: static;
        margin: 0;
    }
    .tab.active::after{
        display: none;
    }
    .tabs__reviews::after, .tabs__reviews::before{
        display: none;
    }
}

@media(max-width: 480px){
    .header__phone{
        font-size: 14px;
    }

    .header__phone a::before{
        display: none;
    }

    .header__phone-text{
        display: none;
    }

    .header__logo img{
        width: 110px;
    }

    .list__title{
        font-size: 24px;
        line-height: 30px;
    }

    .tab{
        font-size: 12px;
        padding: 24px 0;
    }

    .tabs__content{
        min-width: 290px;
    }

    .tabs__reviews{
        padding: 0;
    }

    .tabs__reviews-inner{
        padding: 30px 20px;
    }

    .tabs__reviews-text{
        font-size: 14px;
    }

    .tabs__reviews-link{
        bottom: 30px;
        left: 155px;
    }
}

@media(max-width: 441px){
    .tabs__reviews-link{
        bottom: 5px;
    }
}

@media(max-width: 430px){
    .list__link a{
        padding: 22px 10px;
        text-align: center;
    }
    .list__link a:after{
        display: none;
    }
}

@media(max-width: 425px){
    .top__images{
        min-height: 375px;
    }

    .top__inner-title{
        font-size: 30px;
        line-height: 36px;
        padding: 0 15px;
    }

    .top__inner-subtitle{
        font-size: 12px;
    }

    .top__wrapper{
        margin-top: -365px;
    }

    .advantages__inner{
        padding-top: 50px;
    }

    .advantages__item{
        padding-bottom: 40px;
    }
    .tabs__reviews-inner{
        padding: 20px 20px;
    }
    .tabs__reviews-link{
        bottom: 25px;
        left: 130px;
    }
    .tab-item{
        display: none;
    }
}

@media(max-width: 375px){
    .tabs__reviews-link{
        left: 100px;
    }
}

@media(max-width: 341px){
    .top__inner-title{
        padding: 0 15px;
        margin-bottom: 19px;
    }

    .top__inner-subtitle{
        margin-bottom: 10px;
    }
    .tabs__reviews-link{
        left: 100px;
        bottom: 25px;
    }
}

@media(max-width: 325px){
    .tabs__reviews-link{
        left: 75px;
        bottom: 0;
    }
}