*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}
.container{
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-fluid{
  max-width: 1720px;
  margin: 0 auto;
  overflow: hidden;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  height: 105px;
  align-items: center;
}

.header__text{
  margin-right: auto;
  margin-left: 30px;
  color: #9a9a9a;
}

.header__phone{
  font-weight: 500;
  font-size: 20px;
}
.header__phone a{
  color: #303030;
  text-decoration: none;
  position: relative;
}
.header__phone a:before{
  content: '';
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 5px;
}
.header__phone-text{
  font-weight: 400;
  font-size: 12px;
  color: #9a9a9a;
  text-align: right;
  padding-top: 3px;
}

.top{
  margin-bottom: 75px;
}
.top__images{
  background-image: url(../images/top-bg.jpg);
  min-height: 545px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1720px;
  margin: 0 auto;
}
.top__wrapper{
  margin-top: -450px;
}
.top__inner{
  display: flex;
  justify-content: space-between;
}
.top__inner-img{
  margin-left: 125px;
}
.top__inner-form{
  max-width: 570px;
  width: 100%;
}
.top__inner-subtitle{
  margin-top: 70px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.top__inner-title{
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
}
.top__inner-text{
  margin-bottom: 73px;
  color: #fff;
  font-size: 18px;
}
.top-form{
  background-color: #fff;
  padding: 20px;
}
.top-form form{
  border: 1px solid #c8dcba;
  position: relative;
}
.top-form__inner{
  padding: 50px 50px 118px 50px;
}
.top-form__title{
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: 190px;
}
.top-form input{
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 195px;
}
.top-form input + input{
  margin-left: 30px;
}

.top-form input::placeholder{
  color: #c8dcba;
}

.top-form button{
  position: absolute;
  right: 0;
  bottom: 0;
}

.form__btn{
  padding: 22px 110px 22px 70px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.form__btn::after{
  content: "";
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 60px;
  top: 25px;
}

.advantages{
  margin-bottom: 200px;
}
.advantages__inner{
  display: flex;
  justify-content: space-around;
}
.advantages__item{
  width: 240px;
  padding-left: 40px;
  padding-top: 35px;
  position: relative;
}
.advantages__item::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgba(126,178,82, .3);
  top: 0;
  left: 0;
}
.advantages__item-number{
  color: #a4c58c;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid #a4c58c;
  display: inline-block;
}
.advantages__item-number span{
  font-size: 30px;
}
.advantages__item-text{
  padding-top: 20px;
}
.list__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  max-width: 470px;
  margin-bottom: 30px;
}
.tabs__content{
  min-width: 500px;
  height: 689px;
  background-image: url(../images/list-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  margin-top: -170px;
}
.list__inner{
  display: flex;
  justify-content: space-between;
  background-color: #f6f9f3;
  position: relative;
  padding-bottom: 30px;
}
.list__inner::before,
.list__inner::after{
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: #f6f9f3;
}
.list__inner::before{
  content: "";
  right: 100%;
}
.list__inner::after{
  content: "";
  left: 100%;
}
.tabs{
  padding-right: 20px;
  width: 100%;
}
.tab{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 24px 40px 24px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}
.tab.active{
  position: relative;
}
.tab.active::after{
  content: "";
  position: absolute;
  right: 25px;
  background-image: url(../images/chevron.svg);
  width: 8px;
  height: 14px;
}
.tab span{
  color: #a4c58c;
  margin-right: 18px;
}
.tab-item{
  display: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  width: 43px;
  height: 43px;
  border: 9px solid rgba(255,255,255,.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px;
}
.tab-item:first-child{
  display: block;
}
.item-1{
  left: 150px;
  top: 182px;
}
.item-2{
  left: 300px;
  top: 200px;
}
.item-3{
  left: 227px;
  top: 135px;
}
.item-4{
  top: 210px;
  left: 227px;
}
.item-5{
  top: 15px;
  left: 227px;
}
.item-6{
  top: 350px;
  left: 260px;
}
.item-7{
  top: 15px;
  left: 227px;
}
.item-8{
  top: 210px;
  left: 227px;
}
.item-9{
  top: 35px;
  left: 227px;
}
.tabs__box{
  display: flex;
  flex-wrap: wrap;
}
.tabs__box .tab{
  font-weight: 400;
  width: 50%;
  text-transform: none;
  display: flex;
  align-items: center;
}
.tabs__box .tab span{
  font-size: 12px;
}
.tabs__box .tab:first-child,
.tabs__box .tab:nth-child(3){
  border-right: 1px solid #e6efde;
  padding-right: 25px;
}
.tabs__box .tab:nth-child(2),
.tabs__box .tab:nth-child(4){
  padding-left: 25px;
}
.tabs__box .tab.active::after{
  display: none;
}
.tabs__reviews{
  padding: 20px;
  padding-bottom: 0;
  background-color: #f6f9f3;
  max-width: 430px;
  position: absolute;
  bottom: 0;
}
.tabs__reviews-inner{
  border: 1px solid #c5dab5;
  padding: 30px 50px 30px 40px;
}
.tabs__reviews-text{
  color: #303030;
}
.tabs__reviews-link{
  color: #7eb152;
  padding: 0px 8px;
  position: absolute;
  bottom: -10px;
  background-color: #f6f9f3;
  font-weight: 600;
}
.list__link{
  display: flex;
  justify-content: flex-end;
}
.list__link a{
  padding: 22px 100px 22px 120px;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  min-width: 500px;
  position: relative;
  margin-top: 20px;
}
.list__link a:after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 100px;
  top: 30px;
}
.popularity{
  padding-top: 200px;
}
.popularity__wrapper{
  min-height: 645px;
  background-image: url(../images/popularity.jpg);
  background-repeat: no-repeat;
}
.popularity__inner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.popularity__box{
  background-color: #fff;
  margin-right: 69px;
  padding: 20px;
}
.popularity__box-text{
  border: 1px solid #c5dab5;
  padding: 30px;
  color: #303030;
}
.popularity__box-link{
  padding: 22px 85px 22px 26px;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
}
.popularity__box-link::after{
  content: "";
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 40px;
  top: 30px;
}
.popularity__right{
  max-width: 500px;
  widows: 100%;
  padding-right: 27px;
}
.popularity__right-title{
  font-weight: 700;
  line-height: 50px;
  font-size: 40px;
  color: #303030;
  margin-top: 36px;
}
.popularity__right-subtitle{
  color: #303030;
  padding: 50px 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.popularity__right-list{
  list-style: none;
  color: #303030;
  line-height: 22px;
}
.popularity__right-list li{
  margin-bottom: 45px;
  padding-left: 40px;
  position: relative;
}
.popularity__right-list li::before{
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 14px;
  background-image: url(../images/chevron.svg);
  top: 50%;
  transform: translateY(-50%);
}
.history{
  padding-top: 270px;
  margin-bottom: 200px;
}
.history__wrapper{
  background-image: url(../images/alonso.png);
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 920px;
}
.history__title{
  padding: 80px 0 40px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  max-width: 570px;
}
.history__text::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f6f9f3;
  right: 100%;
  top: 0;
}
.history__text{
  background-color: #f6f9f3;
  padding: 41px 30px 65px 0;
  max-width: 700px;
  position: relative;
}
.history__text p{
  margin: 15px 0;
}
.history__form{
  max-width: 400px;
  padding-left: 30px;
  margin-right: 200px;
}
.history__form-title{
  margin: 35px 0 20px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding-right: 30px;
  text-transform: uppercase;
}
.history__form input{
  border: none;
  outline: none;
  height: 34px;
  border-bottom: 1px solid #cddcbc;
  display: block;
  width: 100%;
  font-size: 14px;
}
.history__form input::placeholder{
  color: #cddcbc;
}
.history__form button{
  width: 100%;
  display: block;
  margin-top: 30px;
}